fastapi
uvicorn[standard]
sqlalchemy>=2.0
asyncpg
sqlmodel
python-dotenv
cloudinary
python-multipart
itsdangerous
authlib
httpx
pyjwt
email-validator
pydantic[email]

passlib[bcrypt]
bcrypt==4.0.1
python-jose[cryptography]